.container{
	margin: auto;
	width: 100% !important;
	max-width: 2000px !important;
}



.menu-bar {
	margin-top: 10px !important;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.menu-bar li {
    cursor: pointer;
}

section:last-child {
    flex-grow: 1;
}

body {
    background: url(assets/img/background.jpg) center/cover no-repeat !important;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Adicionei para centralizar o conteúdo verticalmente */
    width: 100% !important;
}
  

  .menu-bar {
	margin-top: 10px;
    border-radius: 25px;
    height: auto; /* Alteração aqui */
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 0 10px;
    margin: 50px 0 0 0;
    min-height: 50px; /* Adição aqui */
	width: 100%;
	position: fixed;
    top: 0;
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Centraliza horizontalmente */
    z-index: 1000;
	transition: background-color 0.3s; /* Adiciona uma transição suave na mudança de cor */
}

.menu-bar.scrolled {
	background-color: black !important;
	backdrop-filter: none; /* Remove o efeito de desfoque quando a cor é preta */
}

  .menu-bar li {
    list-style: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
  }
  .menu-bar li::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 0.2s;
    border-radius: 25px;
  }
  .menu-bar li:hover {
    color: black;
  }
  .menu-bar li:hover::before {
    background: linear-gradient(to bottom, #e8edec, #d2d1d3);
    box-shadow: 0px 3px 20px 0px black;
    transform: scale(1.2);
  }



.carousel{
    height: 900px; 
    perspective: 250px;    
    
}
.carousel .carousel-item {
	width: 450px;
	background: #fff;
	padding: 50px;
	height: auto;
	text-align: center;
    border-radius: 15px;
}
.img-area {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 50%;
	border: inset 8px deepskyblue;
}
        .img-area img{
            width: 100%;
        }
        .testi p {
	color: #262626;
	font-size: 18px;
	line-height: 1.9;
}
        .testi h4 {
	font-size: 20px;
	margin: 0;
	color: #000;
}
        .testi h5 {
	font-size: 14px;
	letter-spacing: 5px;
	margin: 7px 0;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  text-align: center;
}


.footer-columns {
    justify-content: space-between;
	background-color: #000;
	color: white;
	padding-top: 3rem;
	display: flex;
    align-items: flex-start; /* Alinha os itens ao topo */
}

.footer-column {
    flex: 1;
	margin-top: rem;
    margin-right: 1rem; /* Adiciona espaçamento entre as colunas */
}

.contact-info {
    display: flex;
    align-items: center;
}

.footer-icons {
    display: flex;
    margin-top: 4rem;
	margin-right: 1rem;
}

.footer-icons a {
    margin-right: 1rem;
}